
@{
    ViewData["Title"] = "SpeechTOText";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewData["Title"] = "TextToSpeech";
}
<div class="container-fluid" id="functions">
    <div class="row">

        <div class="col-md-12">

            <h5>Give us your choice by selecting filters below.</h5>

            <div class="txt-speech-div-selct">
                <div style="margin-bottom:20px">
                    <input type="text" name="ProjectName" id="ProjectName" placeholder="Any name on your mind for the project? " style="        width: 50%;
        padding: 8px;
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, .1) !important;" required>
                </div>
                <select name="Gender" id="Gender">
                    <option value="">Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
                <select name="Language" id="Language">
                    <option value="">Languages</option>
                </select>


            </div>

        </div>

        <div class="col-md-12">
            <div class="drop-zone">
                <span class="drop-zone__prompt">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-folder-plus" viewBox="0 0 16 16">
                        <path d="m.5 3 .04.87a1.99 1.99 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2zm5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19c-.24 0-.47.042-.683.12L1.5 2.98a1 1 0 0 1 1-.98h3.672z"></path>
                        <path d="M13.5 10a.5.5 0 0 1 .5.5V12h1.5a.5.5 0 1 1 0 1H14v1.5a.5.5 0 1 1-1 0V13h-1.5a.5.5 0 0 1 0-1H13v-1.5a.5.5 0 0 1 .5-.5z"></path>
                    </svg> Upload file 11
                </span>
                <input type="file" name="myFile" class="drop-zone__input">
            </div>

        </div>
        <div class="col-md-12">
            <div class="row mt-5">
                <div class="col-11">
                    <div class="txt-to-spech-div">
                        <div class="txt-spch-txtbox">
                            <textarea class="form-control " style="height:100px;" id="validationTextarea" disabled placeholder="Enter Text here" required></textarea>

                        </div>
                        <div class="str-bin">
                            <ul>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                        <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                                    </svg>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                    </svg>
                                </li>
                            </ul>
                        </div>


                    </div>
                </div>
                <div class="col-1">
                    <div class="txt-spch-plus">
                        <span>
                            <a href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                </svg>
                            </a>
                        </span>
                    </div>
                </div>
            </div>



        </div>
        <div class="col-md-10"></div>
        <div class="col-md-2">
            <div class="xport-main-div">
                <div>
                    <a href="">
                        <button id="SaveProject">Export</button>
                        <label id="HiddenProjectId" hidden></label>
                    </a>
                </div>
            </div>
        </div>

        <script src="/js/notify-combined.min.js"></script>
        <script type="text/javascript">

            //jQuery.notify.notify("Click me!", { position: "bottom right", className: "success" });
            $(document).ready(function () {


                //function will be called on button click having id btnsave
                $("#Gender").change(function () {
                    debugger;
                    var gender = this.value;
                    if (gender == "") {

                        //jQuery.notify.notify.defaults({ globalPosition: 'bottom right' });
                        jQuery.notify("Please Select a valid Gender", { position: "bottom right", className: "warn" });
                    }
                    if (gender != "") {
                        $.ajax(
                            {
                                type: "Get", //HTTP POST Method
                                url: "GetLanguagesAgainstGender", // Controller/View
                                data: { gender: gender },
                                dataType: "json",
                                success: function (response) {
                                    if (response) {
                                        debugger;
                                        for (var i = 0; i < response.length; i++) {
                                            var opt = document.createElement('option');
                                            opt.value = response[i].languageCode;
                                            opt.innerHTML = response[i].languageName;
                                            document.getElementById('Language').appendChild(opt);
                                        }
                                    }
                                    else {
                                        document.getElementById('LoginError').style.display = 'block';
                                    }
                                }
                            });
                    }
                });
                $("#Language").change(function () {
                    debugger;
                    var Language = this.value;
                    var gender = $('#Gender').find(":selected").val();
                    if (Language == "") {
                        jQuery.notify("Please Select a valid Language", { position: "bottom right", className: "warn" });
                    }
                    if (gender == "") {
                        jQuery.notify("Please Select a valid Gender", { position: "bottom right", className: "warn" });
                    }
                    if (gender != "" && Language != "") {
                        $.ajax(
                            {
                                type: "Get", //HTTP POST Method
                                url: "getVoicesAgainstLangugae", // Controller/View
                                data: { LanguageCode: Language, gender: gender },
                                dataType: "json",
                                success: function (response) {
                                    if (response) {
                                        debugger;
                                        for (var i = 0; i < response.length; i++) {
                                            var opt = document.createElement('option');
                                            opt.value = response[i].id;
                                            opt.innerHTML = response[i].name;

                                            $('#validationTextarea')[0].disabled = false;
                                        }
                                    }
                                    else {
                                        document.getElementById('LoginError').style.display = 'block';
                                    }
                                }
                            });
                    }
                });




                $("#SaveProject").click(function () {
                    debugger;
                    var text = $('#validationTextarea')[0].value;
                    var ProjectName = $('#ProjectName')[0].value;
                    var voiceId = $('#Voice').find(":selected").val();
                    if (ProjectName == "") {
                        jQuery.notify("Provide a name please", { position: "bottom right", className: "warn" });
                    }
                    else if (text != "" && voiceId != "") {
                        $.ajax(
                            {
                                type: "Post", //HTTP POST Method
                                url: "ConvertTextToSpeech", // Controller/View
                                dataType: "json",
                                data: {
                                    text: text,
                                    VoiceId: voiceId,
                                    projectName: ProjectName,
                                    ProjectType: "TextToSpeech"
                                },
                                success: function (response) {
                                    debugger;
                                    if (response != false) {
                                        jQuery.notify("Project Created", { position: "bottom right", className: "success" });
                                        debugger;
                                    }
                                    else {
                                        document.getElementById('LoginError').style.display = 'block';
                                    }
                                }
                            });
                    }
                });

            });
        </script>
    </div>
</div>

